body {
  background-color: #486067;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: arial;
  font-size;
}
.divisao{
  background-color: white;    
  text-align: left;
}
footer{
  text-align: center;
   background-color: #486067;
}
